body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: block;
}
/* Header Section */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height:80px;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px

}
.logo span {
  color: mediumaquamarine;
  margin-left: 10px;
}

header nav {
  padding-right: 40px;
  display: block;
  display: flex-end;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color:black;
}

/* Main Section */

.maincontainer {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 100px;
  font-family: georgia;
  font-size: 17px;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

/* Left Column */

.leftcontainer {
  width: 630px;
  display: inline-flex;
  margin-right: 30px;
  flex-direction: column;
}

.mainnote .imagetext {
  background-image: url(/home/huari/Documents/projects/mytimes/css/images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.imagetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: white;
}

.mainnote .textcontent {

}

.secondarynotes {
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.secondarynote1 .imagetext {
  background-image: url(/home/huari/Documents/projects/mytimes/css/images/img-story-2.png);
  width: 315px;
  font-size: 30px;
  text-align: left;
}

.secondarynote2 .imagetext {
  background-image: url(/home/huari/Documents/projects/mytimes/css/images/img-story-3.png);
  width: 315px;
  font-size: 30px;
  text-align: left;

}

.secondarynote1 {
  width: 315px;
}

.secondarynote2 {
  width: 315px;
}

/* Center Column */

.centercontainer {
  width: 300px;
}

.centersecond .imagetext {
  background-image: url(/home/huari/Documents/projects/mytimes/css/images/img-story-1.png);
  font-size: 30px;
  text-align: left;
}

/* Rigth Container */

.rigthcontainer {
  width: 240px;
}

.rigthfirst {
  text-align: center;
}

.rigthsecond p {
  border-bottom: 1px solid black;
}

.leftthird {

}
