body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: block;
}
/* Header Section*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height:80px;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px

}
.logo span {
  color: mediumaquamarine;
  margin-left: 10px;
}

header nav {
  padding-right: 40px;
  display: block;
  display: flex-end;
}
